body {
    background-image: url("./img/background_image.jpg");
}

h1 {
    margin: 10px;
    color: rgb(230, 230, 230);
    text-shadow: 2px 2px rgb(0, 0, 0);
    text-align: center;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 4em;
}

.container {
    display: flex;
    justify-content: center;
}

canvas {
    border: 2px solid;
    box-shadow: 5px 5px 5px black;
}

#score {
    background-color: rgb(197, 5, 240);
    width: 150px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
    text-align: center;
    color: rgb(230, 230, 230);
    text-shadow: 2px 2px black;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1em;
}
#parent_start_stop{

    display: flex;
    align-items: center;
    justify-content: center;
}
#start-stop{
   width:400px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
 #start{
    background-color: rgb(96, 108, 56);
    width: 150px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
    text-align: center;
    color: rgb(230, 230, 230);
    text-shadow: 2px 2px black;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1em;
} 
#reset{
    background-color: rgb(197, 3, 3);
    width: 150px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
    text-align: center;
    color: rgb(230, 230, 230);
    text-shadow: 2px 2px black;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1em;
}
#high-score {
    background-color: rgb(197, 5, 240);
    width: 200px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
    text-align: center;
    color: rgb(230, 230, 230);
    text-shadow: 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#score p {
    margin: 3% 7%;
}




/* Your existing CSS code */

@media only screen and (max-width: 600px) {
    body {
        background-image:  url("./img/background_image.jpg");
    }

    h1 {
        font-size: 2em; 
    }

    .container {
        flex-direction: column; 
    }

    canvas {
        width: 100%; 
        height: auto; 
    }

    #score, #high-score, #start, #reset {
        width: 100%; 
    }

    #score p {
        margin: 3% 0; 
    }
}
